<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaobai.application">

    <!-- 相应权限配置 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.xiaobai.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service
            android:name="com.xiaobai.umeng.MyPushIntentService"
            android:process=":push" />

        <!-- 使用完全自定义消息来开启应用的服务进程的示例服务配置 -->
        <!-- 不是必需的服务，可以根据开发者的需求进行设置 -->
        <service android:name="com.xiaobai.umeng.NotificationService" />

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Channel ID" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="573b110be0f55a6cf60018f5" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="7c165fb04cd5b157ce72d6d5913bf22d" />

        <activity android:name="com.xiaobai.activity.FindDetailsActivity" />
        <activity android:name="com.xiaobai.activity.LoginActivity" />
        <activity android:name="com.xiaobai.activity.RegisterActivity"></activity>
        <!--图片选择-->
        <activity android:name="com.xiaobai.imagepicker.ImagesGridActivity" />
        <activity android:name="com.xiaobai.imagepicker.ImageCropActivity" />
        <activity android:name="com.xiaobai.imagepicker.ImagePreviewActivity"/>

        //Sharedsdk 短信验证
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
    </application>

</manifest>